<%= form_with(model: prompt, class: "contents") do |form| %>
  <% if prompt.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul class="list-disc ml-6">
        <% prompt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :action %>
    <%= form.select :action, 
      [
        ["Replace Background and Relight", "replace_background_and_relight"],
        ["Image to Video", "image_to_video"]
      ],
      { include_blank: "Select an action" },
      class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:action].none?, "border-red-400 focus:outline-red-600": prompt.errors[:action].any?}] 
    %>
  </div>

  <div class="my-5">
    <%= form.label :endpoint_type %>
    <%= form.select :endpoint_type, 
      [
        ["Chat", "Chat"],
        ["Image To Image", "ImageToImage"]
      ],
      { include_blank: "Select an endpoint type" },
      class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:endpoint_type].none?, "border-red-400 focus:outline-red-600": prompt.errors[:endpoint_type].any?}] 
    %>
  </div>

  <div class="my-5">
    <%= form.label :selected_provider %>
    <%= form.select :selected_provider, 
      [
        ["Anthropic", "Anthropic"],
        ["Stability", "Stability"]
      ],
      { include_blank: "Select a provider" },
      class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:selected_provider].none?, "border-red-400 focus:outline-red-600": prompt.errors[:selected_provider].any?}] 
    %>
  </div>

  <div class="my-5">
    <%= form.label :selected_model %>
    <%= form.select :selected_model, 
      [
        ["claude-3-sonnet-20240229", "claude-3-sonnet-20240229"],
        ["replace_background_and_relight", "replace_background_and_relight"]
      ],
      { include_blank: "Select a model" },
      class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:selected_model].none?, "border-red-400 focus:outline-red-600": prompt.errors[:selected_model].any?}] 
    %>
  </div>

  <div class="my-5">
    <%= form.label :subject_image %>
    <%= form.file_field :subject_image, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:subject_image].none?, "border-red-400 focus:outline-red-600": prompt.errors[:subject_image].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :background_prompt %>
    <%= form.textarea :background_prompt, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:background_prompt].none?, "border-red-400 focus:outline-red-600": prompt.errors[:background_prompt].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :system_prompt %>
    <%= form.textarea :system_prompt, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:system_prompt].none?, "border-red-400 focus:outline-red-600": prompt.errors[:system_prompt].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :background_reference %>
    <%= form.file_field :background_reference, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:background_reference].none?, "border-red-400 focus:outline-red-600": prompt.errors[:background_reference].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :light_source_direction %>
    <%= form.text_field :light_source_direction, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:light_source_direction].none?, "border-red-400 focus:outline-red-600": prompt.errors[:light_source_direction].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :light_source_strength %>
    <%= form.text_field :light_source_strength, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:light_source_strength].none?, "border-red-400 focus:outline-red-600": prompt.errors[:light_source_strength].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :foreground_prompt %>
    <%= form.textarea :foreground_prompt, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:foreground_prompt].none?, "border-red-400 focus:outline-red-600": prompt.errors[:foreground_prompt].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :negative_prompt %>
    <%= form.textarea :negative_prompt, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:negative_prompt].none?, "border-red-400 focus:outline-red-600": prompt.errors[:negative_prompt].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :preserve_original_subject %>
    <%= form.text_field :preserve_original_subject, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:preserve_original_subject].none?, "border-red-400 focus:outline-red-600": prompt.errors[:preserve_original_subject].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :original_background_depth %>
    <%= form.text_field :original_background_depth, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:original_background_depth].none?, "border-red-400 focus:outline-red-600": prompt.errors[:original_background_depth].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :keep_original_background %>
    <%= form.checkbox :keep_original_background, class: ["block shadow-sm rounded-md border outline-hidden mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": prompt.errors[:keep_original_background].none?, "border-red-400 focus:outline-red-600": prompt.errors[:keep_original_background].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :seed %>
    <%= form.text_field :seed, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:seed].none?, "border-red-400 focus:outline-red-600": prompt.errors[:seed].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :output_format %>
    <%= form.text_field :output_format, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:output_format].none?, "border-red-400 focus:outline-red-600": prompt.errors[:output_format].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :flow_id %>
    <%= form.text_field :flow_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": prompt.errors[:flow_id].none?, "border-red-400 focus:outline-red-600": prompt.errors[:flow_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
