<div id="<%= dom_id prompt %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Action:</strong>
    <%= prompt.action %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Endpoint type:</strong>
    <%= prompt.endpoint_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Selected provider:</strong>
    <%= prompt.selected_provider %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Selected model:</strong>
    <%= prompt.selected_model %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subject image:</strong>
    <%= image_tag prompt.subject_image, class: "w-full" if prompt.subject_image.present? %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Attachments:</strong>
    <%= prompt.attachments.map { |attachment| image_tag attachment, class: "w-full" }.join.html_safe %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Background prompt:</strong>
    <%= prompt.background_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">System prompt:</strong>
    <%= prompt.system_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Background reference:</strong>
    <%= image_tag prompt.background_reference, class: "w-full" if prompt.background_reference.present? %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Light source direction:</strong>
    <%= prompt.light_source_direction %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Light source strength:</strong>
    <%= prompt.light_source_strength %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Foreground prompt:</strong>
    <%= prompt.foreground_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Negative prompt:</strong>
    <%= prompt.negative_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Preserve original subject:</strong>
    <%= prompt.preserve_original_subject %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Original background depth:</strong>
    <%= prompt.original_background_depth %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Keep original background:</strong>
    <%= prompt.keep_original_background %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Seed:</strong>
    <%= prompt.seed %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Output format:</strong>
    <%= prompt.output_format %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Flow:</strong>
    <%= prompt.flow_id %>
  </p>
</div>
