<%= form_with(model: run, class: "contents") do |form| %>
  <% if run.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul class="list-disc ml-6">
        <% run.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :flow_id %>
    <%= form.collection_select :flow_id, 
        Flow.all, 
        :id, 
        :name, 
        { prompt: "Select a flow" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": run.errors[:flow_id].none?, 
                 "border-red-400 focus:outline-red-600": run.errors[:flow_id].any?}] 
    %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": run.errors[:status].none?, "border-red-400 focus:outline-red-600": run.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :started_at %>
    <%= form.datetime_field :started_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": run.errors[:started_at].none?, "border-red-400 focus:outline-red-600": run.errors[:started_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :completed_at %>
    <%= form.datetime_field :completed_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": run.errors[:completed_at].none?, "border-red-400 focus:outline-red-600": run.errors[:completed_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :subject_image %>
    <%= form.file_field :subject_image, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": run.errors[:subject_image].none?, "border-red-400 focus:outline-red-600": run.errors[:subject_image].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :background_reference %>
    <%= form.file_field :background_reference, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": run.errors[:background_reference].none?, "border-red-400 focus:outline-red-600": run.errors[:background_reference].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
