<div id="<%= dom_id run %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Flow:</strong>
    <%= run.flow_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= run.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Started at:</strong>
    <%= run.started_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Completed at:</strong>
    <%= run.completed_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subject image:</strong>
    <%= image_tag run.subject_image, class: "w-full object-cover rounded-lg" if run.subject_image.attached? %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Background reference:</strong>
    <%= image_tag run.background_reference, class: "w-full object-cover rounded-lg" if run.background_reference.attached? %>
  </p>
</div>
